*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{ margin: 0; padding: 0;}
h1::first-letter ,h1 > span{
    color: hsl(150, 57%, 24%);
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
}   
nav {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    
  }

html, body{
    width: 500px;
    height: 700px;
}
:root{
    --primary-color : hsl(147, 58%, 28%)
}
#container{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    
  
}
h1::first-letter, h1 span{
    color: hsl(147, 58%, 28%);
    font-size: 2.5rem;
}
label{padding:20px;
    border: 1px solid gainsboro;
    background-color: ghostwhite;
    border-radius: 12px;
    position: relative;
    top: 0;
    transition: top ease 0.2s;
    cursor: pointer;
}
 input[type='file']{
    /* visibility: hidden; */
    cursor: pointer;
}

/* label{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 20px;
    margin: 20px;
    color: whitesmoke;
    background-color:var(--primary-color);
    border-radius: 12px;
}  */

label:hover{
    color: whitesmoke;
    background-color: var(--primary-color);
    top: -5px;
    cursor: pointer;
}